In [ ]:
# Go to cassandra prompt, where are you (Gnome-termonal)
cqlsh

In [ ]:
# Show all the Keyspaces(Data Bases)
describe keyspaces;

In [ ]:
# Select some keyspaces
use key_space_name;

In [ ]:
# To get some details of the keyspace
describe key_space_name; # more details

In [ ]:
#Select the Keyspace
use Key_Space_name

In [ ]:
# Show list of tables in the Key_spaces(table)
describe tables;

In [ ]:
# How to create the KEYSPACE
CREATE KEYSPACE Key_space_name WITH repication = {'class' : 'SimpleStrategy', 'replication_factor':1}

In [ ]:
# Use that keyspace  iris
use demo
# Create the table in the iris DB
CREATE TABLE iris(
l1 float,
l2 float,
w1 float,
w2 float,
class_type text,
PRIMARY KEY (class_type)):

In [ ]:
# Fill the table iris from the csv file
COPY iris FROM 'iris.csv' WITH HEADER = true;

In [ ]:
# See 5  data records
SELECT * FROM iris LIMIT 5;

In [6]:
# First install Cassandra Python Driver i.e !pip install cassandra-driver then Import Cassandar module
from cassandra.cluster import Cluster

In [7]:
# Create the object of the Class Cluster
cluster = Cluster()

In [8]:
# select the keyspace
keyspace = 'demo'
connection = cluster.connect(keyspace)

In [26]:
# get some data
some_data = connection.execute('select * from sub limit 5')

In [19]:
# Display some data
for row in some_data:
    print(row)

In [27]:
for row in some_data:
    print('Test_Id {0}, and Its OrderId {1}'.format(row.test_id, row.price))

Test_Id 302602, and Its OrderId 26.7380008698
Test_Id 531141, and Its OrderId 26.7380008698
Test_Id 693077, and Its OrderId 26.7380008698
Test_Id 4317, and Its OrderId 26.7380008698
Test_Id 313395, and Its OrderId 26.7380008698

In [20]:
for row in some_data:
    print('Test_Id %d, and Its price %s' % (row.test_id, row.price))

In [29]:
output = connection.execute('select * from sub where test_id = 4317')

In [36]:
print("The order id {0} has the price {1}".format( output[0][0],output[0][1]))

The order id 4317 has the price 26.7380008698